<div class="container">
  <div class="wrapper">
    <div *ngIf="!canBeFlipped && currentFlashcard" class="flashcard-top">
      <p>{{ currentFlashcard.Front }}</p>
      <p>{{ currentFlashcard.Context }}</p>
      <button (click)="flip()" type="button">Flip</button>
    </div>
    <div *ngIf="canBeFlipped && currentFlashcard" class="flashcard-bottom">
      <p>{{ currentFlashcard.Back }}</p>
      <p>{{ currentFlashcard.Blank }}</p>
      <button click="next()" type="button">Next</button>
    </div>
  </div>
  <div *ngIf="!currentFlashcard">
    <p>You finished</p>
    <a routerLink="/dashboard">Back to Dashboard</a>
  </div>
</div>
