<div class="container">
  <div class="wrapper">
    <header>Add Flashcard</header>
    <form [formGroup]="addFlashcardForm" (submit)="addFlashcard()">
      <div id="grid-item-format-type">
        <span id="boldened">Format Type</span>
        <label>
          <input
            type="radio"
            formControlName="formatType"
            [(ngModel)]="currentFormatType"
            value="text"
          />
          Text
        </label>
        <label>
          <input
            type="radio"
            formControlName="formatType"
            [(ngModel)]="currentFormatType"
            value="picture"
          />
          Picture
        </label>
      </div>

      <label id="grid-item-source-url">
        <input
          type="text"
          formControlName="sourceURL"
          placeholder="Source URL"
          *ngIf="currentFormatType !== 'text'"
        />
      </label>

      <div id="grid-item-flashcard-type">
        <span id="boldened">Flashcard Type</span>
        <label>
          <input
            type="radio"
            formControlName="flashcardType"
            [(ngModel)]="currentFlashcardType"
            value="classic"
          />
          Classic
        </label>
        <label>
          <input
            type="radio"
            formControlName="flashcardType"
            [(ngModel)]="currentFlashcardType"
            value="fillInTheBlank"
          />
          Fill in the blank
        </label>
      </div>

      <label id="grid-item-front" *ngIf="currentFlashcardType === 'classic'">
        <input type="text" formControlName="front" placeholder="Front" />
      </label>

      <label id="grid-item-back" *ngIf="currentFlashcardType === 'classic'">
        <input type="text" formControlName="back" placeholder="Back" />
      </label>

      <label
        id="grid-item-context"
        *ngIf="currentFlashcardType === 'fillInTheBlank'"
      >
        <input type="text" formControlName="context" placeholder="Context" />
      </label>

      <label
        id="grid-item-blank"
        *ngIf="currentFlashcardType === 'fillInTheBlank'"
      >
        <input type="text" formControlName="blank" placeholder="Blank" />
      </label>

      <label id="grid-item-note">
        <input type="text" formControlName="note" placeholder="Note" />
      </label>

      <label id="grid-item-tags">
        <input type="text" formControlName="tag" placeholder="Tags" />
      </label>

      <button id="grid-item-button" type="button" (click)="addFlashcard()">
        Add
      </button>
    </form>
  </div>
</div>
