<form [formGroup]="registerForm">
  <input
    type="text"
    formControlName="firstName"
    placeholder="First Name"
    required
  />

  <input
    type="text"
    formControlName="lastName"
    placeholder="Last Name"
    required
  />

  <input
    type="text"
    formControlName="username"
    placeholder="Username"
    required
  />

  <input type="text" formControlName="email" placeholder="Email" required />

  <input
    type="password"
    formControlName="password"
    placeholder=" Password"
    required
  />

  <button (click)="register()" [disabled]="!registerForm.valid">
    Register
  </button>
</form>
