<div class="container">
  <div class="wrapper">
    <nav>
      <a routerLink="/decks">All Flashcards</a>
      <a [routerLink]="['/flashcard-add', id]">Add Flashcard</a>
    </nav>
    <div class="flashcards-container">
      <div *ngFor="let flashcard of flashcards" class="flashcard">
        <p *ngIf="flashcard.Front" id="grid-item-frontend">
          {{ flashcard.Front }}
        </p>
        <p *ngIf="flashcard.Context" id="grid-item-frontend">
          {{ flashcard.Context }}
        </p>
        <a
          *ngIf="flashcard.FlashcardId"
          id="grid-item-details"
          [routerLink]="['/flashcard-detail', flashcard.FlashcardId]"
        >
          Details
        </a>
        <button id="grid-item-favorite" type="button">Toggle Favorite</button>
        <button id="grid-item-visible" type="button">Toggle Visibility</button>
      </div>
    </div>
  </div>
</div>
