nav {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  padding: 1rem 4rem;
  background-color: #4f9d69;
}

nav header {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  color: #000000;
  font-size: 1.75rem;
  font-weight: bold;
}

nav ul {
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0.75rem;
}

nav ul li a {
  color: #ffffff;
  font-size: 1.15rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: #000000;
}
