<nav>
  <header><i class="material-icons"> build </i> FLA</header>
  <ul>
    <li>
      <a *ngIf="status" routerLink="/dashboard" routerLinkActive="active"
        >Dashboard</a
      >
    </li>
    <li>
      <a *ngIf="status" routerLink="/settings" routerLinkActive="active"
        >Settings
      </a>
    </li>
    <!-- <li>
      <a *ngIf="status" routerLink="/about" routerLinkActive="active">About</a>
    </li> -->
    <li><a *ngIf="status" (click)="logout()">Logout</a></li>
  </ul>
</nav>
