<div class="container">
  <div class="wrapper">
    <div *ngIf="!canBeFlipped && currentFlashcard" class="flashcard-top">
      <p>{{ currentFlashcard.Front }}</p>
      <p>{{ currentFlashcard.Context }}</p>
      <button (click)="flip()" type="button">Flip</button>
    </div>
    <div *ngIf="canBeFlipped && currentFlashcard" class="flashcard-bottom">
      <p>{{ currentFlashcard.Back }}</p>
      <p>{{ currentFlashcard.Blank }}</p>
      <form *ngIf="user.SRS" [formGroup]="ratingsForm">
        <span class="boldened"> Difficulty </span> <br /><br />
        <label
          ><input type="radio" formControlName="difficulty" value="0" /> 0
        </label>
        <label>
          <input type="radio" formControlName="difficulty" value="1" /> 1
        </label>
        <label>
          <input type="radio" formControlName="difficulty" value="2" /> 2
        </label>
        <label>
          <input type="radio" formControlName="difficulty" value="3" /> 3
        </label>
        <label>
          <input type="radio" formControlName="difficulty" value="4" /> 4
        </label>
        <label>
          <input type="radio" formControlName="difficulty" value="5" /> 5
        </label>
        <br />
        <button type="button" (click)="next()" [disabled]="!ratingsForm.valid">
          Next
        </button>
      </form>
      <button *ngIf="!user.SRS" type="button" (click)="next()">Next</button>
    </div>
    <div *ngIf="!currentFlashcard">
      <p>You finished</p>
      <button type="button" (click)="reloadDashboard()">
        Back to Dashboard
      </button>
    </div>
  </div>
</div>
