<div class="container">
  <div *ngIf="currentFlashcard" class="wrapper">
    <p *ngIf="!canBeFlipped">{{ currentFlashcard.Front }}</p>
    <p *ngIf="!canBeFlipped">{{ currentFlashcard.Context }}</p>
    <p *ngIf="canBeFlipped">{{ currentFlashcard.Back }}</p>
    <p *ngIf="canBeFlipped">{{ currentFlashcard.Blank }}</p>
    <button *ngIf="!canBeFlipped" (click)="flip()">Flip</button>
    <form *ngIf="canBeFlipped" [formGroup]="ratingsForm">
      <label
        ><input type="radio" formControlName="difficulty" value="0" /> 0
      </label>
      <label>
        <input type="radio" formControlName="difficulty" value="1" /> 1
      </label>
      <label>
        <input type="radio" formControlName="difficulty" value="2" /> 2
      </label>
      <label>
        <input type="radio" formControlName="difficulty" value="3" /> 3
      </label>
      <label>
        <input type="radio" formControlName="difficulty" value="4" /> 4
      </label>
      <label>
        <input type="radio" formControlName="difficulty" value="5" /> 5
      </label>
      <button type="button" (click)="next()" [disabled]="!ratingsForm.valid">
        Next
      </button>
    </form>
  </div>
  <div *ngIf="!currentFlashcard" class="wrapper">
    <p>You finished</p>
    <a routerLink="/dashboard">Back to Dashboard</a>
  </div>
</div>
