.container {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.wrapper {
  display: inline-block;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 0.75rem;
  background-color: #bee6ce;
}

.wrapper nav {
  display: inline-block;
}

.wrapper nav a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: white;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.wrapper nav a:first-child {
  border-radius: 0.75rem 0rem 0rem 0.75rem;
}

.wrapper nav a:last-child {
  border-radius: 0rem 0.75rem 0.75rem 0rem;
  border-left: solid thin #bee6ce;
}

.wrapper nav a:hover {
  background-color: #68d89b;
}

.container-decks {
  margin: 1rem;
  margin-top: 2rem;
}

.deck {
  margin-right: 2rem;
  padding: 2rem;
  display: inline-grid;
  grid-template-columns: 2;
  grid-template-rows: 4;
  row-gap: 0.5rem;
  column-gap: 1rem;
  align-items: left;
  justify-items: center;
  background-color: white;
  border-radius: 0.75rem;
}

#grid-item-name {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 1.25rem;
  font-weight: bold;
}

#grid-item-description {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: 2;
  font-size: 1rem;
  color: lightgray;
  margin-top: -0.5rem;
}

#grid-item-details {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: #bee6ce;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

#grid-item-flashcards {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  background-color: #bee6ce;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

#grid-item-study {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 4;
  grid-row-end: 4;
  background-color: #bee6ce;
  border-radius: 0.75rem;
  padding: 0.5rem;
}

.deck a {
  text-decoration: none;
  color: black;
}
