<div class="container">
  <div class="wrapper">
    <nav>
      <a routerLink="/dashboard">All Decks</a>
      <a routerLink="/deck-add">Add Deck</a>
    </nav>
    <div class="container-decks">
      <div *ngFor="let deck of decks" class="deck">
        <p id="grid-item-name">{{ deck.Name }}</p>
        <p id="grid-item-description">{{ deck.Description }}</p>
        <a
          id="grid-item-details"
          *ngIf="deck.DeckId"
          [routerLink]="['/deck-detail', deck.DeckId]"
        >
          Details
        </a>
        <a
          id="grid-item-flashcards"
          *ngIf="deck.DeckId"
          [routerLink]="['/flashcards', deck.DeckId]"
        >
          Flashcards
        </a>
        <a
          id="grid-item-study"
          *ngIf="deck.DeckId"
          [routerLink]="['/study-deck', deck.DeckId]"
          >Study Deck</a
        >
      </div>
    </div>
  </div>
</div>
