.container {
  margin: 0 4rem;
  padding: 1rem;
  text-align: left;
}

.wrapper {
  display: inline-block;
  margin: 1rem;
  padding: 2rem;
  border-radius: 0.75rem;
  background-color: #bee6ce;
}

header {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.greeting {
  margin: 1rem 0 0 0;
  font-size: 1.25rem;
}

.notification {
  display: block;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  border: solid thin #ffff99;
  border-radius: 0.75rem;
  background-color: #ffcc00;
  color: white;
  font-size: 1rem;
}

i {
  position: relative;
  top: 0.15rem;
  left: 0rem;
  font-size: 1rem;
}

.boldened {
  font-weight: bold;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background-color: #68d89b;
  font-size: 1.25rem;
  outline: none;
  cursor: pointer;
}

.decks-container a {
  display: block;
  margin-top: 1rem;
  text-decoration: underline;
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
}
