<div class="container">
  <div
    *ngIf="
      (noOfFlashcardsToStudyUsingSRS || noOfFlashcardsNotYetStudied) &&
      !isHidden
    "
    class="container-notifications"
  >
    <header>Study Notifications</header>

    <p *ngIf="noOfFlashcardsToStudyUsingSRS" class="notification">
      You have
      <span class="boldened"
        >{{ noOfFlashcardsToStudyUsingSRS }} flashcards</span
      >
      to study
    </p>

    <button
      *ngIf="noOfFlashcardsToStudyUsingSRS"
      (click)="initStudy('studyUsingSRS')"
      type="button"
    >
      Study flashcards
    </button>

    <p *ngIf="noOfFlashcardsNotYetStudied" class="notification">
      You have
      <span class="boldened"
        >{{ noOfFlashcardsNotYetStudied }} new flashcards</span
      >
      to study!
    </p>

    <button
      *ngIf="noOfFlashcardsNotYetStudied"
      (click)="initStudy('studyNewFlashcards')"
      type="button"
    >
      Study new flashcards
    </button>
  </div>

  <app-study-flashcards
    *ngIf="isHidden"
    [flashcards]="selectedFlashcardsToStudyToday"
    [isSRSEnabled]="isSRSEnabled"
  ></app-study-flashcards>

  <app-decks *ngIf="!isHidden"></app-decks>

  <!-- <app-study-activity *ngIf="!isHidden"></app-study-activity> -->
</div>
