<div class="container">
  <div *ngIf="!isHidden" class="wrapper">
    <header>Dashboard</header>

    <p class="greeting">Hello, {{ user.FirstName }}!</p>

    <p *ngIf="noOfFlashcardsToStudyUsingSRS" class="notification">
      <i class="material-icons">notifications_active</i> You have
      <span class="boldened"
        >{{ noOfFlashcardsToStudyUsingSRS }} flashcards</span
      >
      to study!
    </p>

    <button
      *ngIf="noOfFlashcardsToStudyUsingSRS"
      (click)="initStudy('studyUsingSRS')"
      type="button"
    >
      Study flashcards
    </button>

    <p *ngIf="noOfFlashcardsNotYetStudied" class="notification">
      <i class="material-icons">notifications_active</i> You have
      <span class="boldened"
        >{{ noOfFlashcardsNotYetStudied }} new flashcards</span
      >
      to study!
    </p>

    <button
      *ngIf="noOfFlashcardsNotYetStudied"
      (click)="initStudy('studyNewFlashcards')"
      type="button"
    >
      Study new flashcards
    </button>

    <div class="decks-container">
      <a [routerLink]="['/decks']"> Go to your decks </a>
    </div>
  </div>

  <app-decks *ngIf="!isHidden"></app-decks>

  <app-study-activity *ngIf="!isHidden"></app-study-activity>

  <app-study-flashcards
    *ngIf="isHidden"
    [flashcards]="selectedFlashcardsToStudyToday"
  ></app-study-flashcards>
</div>
